header {
    background:#ffc340;
}

.caixa {
    position: relative;
    width: 900px;
    margin: 0 auto;
}

nav {
    position: absolute; 
    top: 150px; 
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color:aliceblue;
    text-decoration: underline;
}

.imagem {
    width: 250px;
    height: 150px;
}

.produtos {
   width: 940px;
   margin: 0% auto;
   padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1,5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: aliceblue;
}

.produtos li:active {
    border-color: #f30000;
}

.produtos li:hover h2 {
    font-size: 40px;
}

body{
    background-color: #ffc340;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}
.produto-descriçao {
    font-size: 18px;

}

.produto-preço {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer {
    text-align: center;

}