body {
    backgroud: #CCCCCC
}

h1 {
    text-align:center">
}
#images{
    width: 100%;
}
P {
 text align: center
}

missao {
    font-size: 20px;
    background-color: coral
}
em strong {
    color= #FF0000; 
}

.tamanhos disponiveis {
    background-color: chocolate;
}