body {
    backgroud: #CCCCCC
}
h1 {
    text-align:center">
}
#images{
    width: 100%;
}
P {
 text align: center
}

missao {
    font-size: 20px;
}
em strong {
    color= #FF0000; 
}

.beneficios {
    background-color: chocolate;
}