html {
	background: linear-gradient(#ffc548,#7c622b);
    margin: 0 auto;
}

header {
	padding: 20px 0;
}

body {
	font-family: 'Nunito', sans-serif;
}

strong {
    color: #ff0000;
}

h1 {
    color: #ff0000;
}

h2 {
    color: #ff0000;
}

h3 {
    color: #ff0000;
}

p {
    text-align: left;
    text-align: justify;
    color: aliceblue;
    font-family: Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4em;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
}

nav a {
	text-transform: uppercase;
	color: aliceblue;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color:  #C78C19;
	text-decoration: none;
}

div {
	padding: 50px 0;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding:  50px 0;
}

.produtos li {
	display: inline-block;
	text-align:  center;
	width:  30%;
	vertical-align: top;
	margin:  0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #ffffff;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size:  30px;
	font-weight: bold;
}

.produto-descricao{
	font-size:  18px;
}

.produto-preco {
	font-size:  22px;
	font-weight:  bold;
	margin-top:  10px;
}

footer {
	text-align: center;
	background: #000000

}

.copyrigth {
	margin-top: 15px;
	color: rgb(255, 255, 255);
	font-size: 15px;
	text-align: center;
}

main {
 	width: 940px;
	margin: 0 auto;
}

form {
 	margin: 40px 0;
}

form label, form legend {
 	display:  block; 
 	font-size: 20px;
 	margin: 0 0 10px;
}

.input-padrao {
 	display: block;
 	margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
	background:  darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.beneficios {
	padding: 3em 0;
	background: #faa200;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.logo-pizza {
	width: 200px;
	height: 200px;
}

.video {
	width: 560px;
	margin: 2em auto;
}

.banner {
	width: 100%;
	height: 250px;
	border-radius: 10px;
	object-fit: cover;
}
  
.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}
  
.principal {
	padding: 3em 0;
	width: 940px;
	margin: 0 auto;
}
  
.principal p {
	margin: 0 0 1em;
}
  
.principal strong {
	font-weight: bold;
}
  
.panfleto {
	width: 150px;
	float: left;
	margin: 0 20px 20px 0;
}

.imagem-beneficios {
	width: 60%;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}
  
.itens {
	line-height: 1.5;
	color: aliceblue;
}
  
.itens:first-child {
	font-weight: bold;
}
  
.itens:before {
	content: "✸";
}
  

#banner {
    width: 100%;
    height: 300px;
    border-radius: 50px;
}

.logo {
    width: 300px;
    height: 300px;
}



